/* Media query for mobile devices */
@media  (min-width: 960px){
    .close_btn{
        display: none;
    }
    .mobile_menu{
        display: none;
      }
   
}

@media (max-width: 960px) {
  .mobile_responsive{
    position: relative;
  }
  .mobile_menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
  }
  .mobile_navigation{
    display: flex;
    align-items: center;
  }
  .mobile_navigation .fa-bars{
   color: white;
   font-size: 30px;
   cursor: pointer;
  }
  .logo {
    display: none;
  }
  .mobile_logo img{
    width: 100px;
    margin: 0px 20px;
  }
  .header_section{
    display: none;
    position: absolute;
    background-color: rgb(20, 18, 18);
    top: 0;
    left: 0;
    height: 100vh;
    padding: 8px 8px 10px 8px;
    z-index: 9999;
    overflow-x: scroll;
    width: 300px;
  }
  .header_top ul li a {
    margin: 0px 0px;
}
  .hero_section {
    padding: 0px 0px 220px 0px !important;
  }
  
  ul {
    list-style: none;
    display: flex;
    flex-direction: column;
  }
  .header_bottom {
    background-image: none;
    padding: 10px 0px;
    width: 300px;
    margin-top: 20px;
    margin-left: 0px;
    position: relative;
    border-radius: 10px;
  }
  .header_bottom ul {
    align-items: start;
    justify-content: start;
  }
  #sub_menu, #sub_menu2, #sub_menu3  {
    display: none;
    position:static;
    background-image: none;
    color: white;
    width: 300px;
    height: auto;
    padding: 20px 0px;
    top: 200%;
  }
  .sub_menu_grid {
    display: grid;
    grid-template-columns: repeat(2,1fr);
    grid-gap: 0px;
}
.close_btn{
    display: flex;
 justify-content: end;
 color: white;
 font-size: 20px;
 margin-bottom: 5%;
 cursor: pointer;
}
.cart_area{
    display: none;
}
.mobile_cart_area{
    display: flex;
}
  .search-box {
    display: none;
  }
.search-box_mobile{
    display: block;
    margin-right: 55px;
}
.search-box input{
    right: 15%;
    top: 12%;
    width: 300px;

  }
  .search-box .fa-times{
    right: -10%;
    top: 15%;
  }
  .search-box .fa-times{
    right:10%;
    top: 30%;
    z-index: 999;

  }
  .search-box button{
    background-color: #ff4e18;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 0;
    margin-right: 8%;
    cursor: pointer;
  }
  .divider {
    top: -11px;
    transform: skewY(2deg);
}
}

@media (max-width:760px) {
  .card {
    grid-template-columns: repeat(2,1fr);
}
.hero_btn{
  top: 80%;
}
}
@media (max-width:600px) {
  .card {
    grid-template-columns: repeat(1,1fr);

}
.hero_content{
  margin-top: 80px;
  margin-left: 20px;
}
.hero_content p{
  color: white;
  font-size: 20px;
}
}